.game-section {
    .game-field {
        max-width: 572px;
        width: 100%;
        height: 501px;
        border: 2px solid $colorSenary;
        background: $colorTertiary;
        position: relative;

        .gameover-info {
            width: 570px;
            height: 142px;
            background: $colorQuaternary;
            position: absolute;
            top: 142px;
            text-align: center;
            padding: 18px 0;
            border: 2px solid $colorSenary;
            display: none;

            .additional-btn{
                top: 5px;
                right: 5px;
            }
        }
        .active {
            display: block;
        }
    }
}
.row {
    .col-3-24 {
        &:nth-of-type(2n+1) {
            .square {
                &:nth-of-type(2n) {
                    background: $colorPrimary;
                }
            }
        }
        &:nth-of-type(2n) {
            .square {
                &:nth-of-type(2n+1) {
                    background: $colorPrimary;
                }
            }
        }
        .border {
            background: $colorQuaternary;
            height: 497px;
        }
        .square {
            min-height: 71px;
            border: 1px solid $colorSenary;
        }
    }
}



.game-section .game-helpers {
    background: url("../images/plank-helpers.png");
    background-repeat: no-repeat;
    width: 570px;
    height: 61px;
    margin-top: 5px;
    ul {
        width: 100%;
        height: 61px;
        display: flex;
        justify-content: space-around;
        li {
            position: relative;
            &:hover{
                .prompt {
                    opacity: 1;
                    visibility: 1;
                }
            }
            img {
                position: absolute;
                z-index: 10px;
            }
            .cleaner-icon {
                bottom: 0;
            }
            .sprey-icon {
                bottom: -5px;
            }
            .boom-icon {
                bottom: -3px;
            }
            .results-numbers {
                padding-left: 54px;
            }

            .prompt {
                position: absolute;
                left: 60px;
                top: 10px;
                z-index: 1;
                font-size: $fontSize3;
                line-height: 20px;
                background: $colorQuinary;
                text-transform: lowercase;
                width: 120px;
                height: 40px;
                text-align: center;
                border-radius: 2px;
                border: 1px solid $colorTertiary;
                opacity: 0;
                visibility: 0;
                transition: 0.5s all;
            }
        }

        [class*="-helper"] {
            cursor: pointer;
        }
    }
}
