.introduction {
    height: 100vh;
    position: relative;

    .magnifier {
        position: absolute;
        right: -70px;
        top: -80px;
    }

    .main-logo {
        a,img {
            display: block;
            position: absolute;
            max-width: 430px;
            width: 100%;
            height: 200px;
            top:30px;
            left: 0;
        }
    }

    .main-nav {
        position: absolute;
        top: 290px;
        width: 430px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            .nav-start {
                width: 180px;
            }
            .nav-cont {
                width: 284px;
            }
            .nav-rules {
                width: 344px;
            }
            .nav-score {
                width: 334px;
            }
            .nav-set {
                width: 230px;
            }
            li {
                background: $colorQuaternary;
                box-shadow: 2px 2px 13px 3px rgba(0,0,0,0.65);
                border-radius: 2px;
                margin-bottom: 30px;
                text-align: center;
                height: 55px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover {
                    transform: scale(1.1);
                }

                a, .show-rules {
                    text-decoration: none;
                    color: $colorTertiary;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    font-size: $fontSize1;
                    line-height: 66px;
                    cursor: pointer;
                }
            }
        }
    }
    .game-rules{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 800px;
        height: 420px;
        z-index: 1;
        background: $colorQuaternary;
        border-radius: 2px;
        border: 2px solid $colorTertiary;
        box-shadow: 2px 2px 13px 3px rgba(0,0,0,0.65);
        font-weight: 600;
        font-size: $fontSize3;
        padding: 15px 15px;
        line-height: 35px;
        .title {
            font-size: $fontSize0;
            font-weight: 700;
            width: 100%;
            display: block;
            text-align: center;
        }
        li {
            display: flex;
            align-items: center;
            height: 60px;
            font-weight: 600;
            img{
                margin-right: 10px;
            }
        }
        .additional-btn .btn {
            position: absolute;
            right: 5px;
            top: -15px;
        }
    }
    .active {
        display: block;
    }
}


@media (max-width:700px) {
    .introduction {
        height: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .magnifier-box {
            display: none;
        }

        .main-logo img, .main-logo a, .main-nav {
            position: static;
        }
    }
}


@media (max-width:440px) {
    .introduction {
        .main-logo img, .main-logo a {
            padding: 0 5px;
        }
    }
}
