.purple, .pink, .green, .red, .orange {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 71px;
    height: 71px;
}

.purple {
    background-image: url('../images/purple-bug.png') !important;
}
.pink {
    background-image: url('../images/pink-bug.png') !important;
}
.green {
    background-image: url('../images/green-bug.png') !important;
}
.red {
    background-image: url('../images/red-bug.png') !important;
}
.orange {
    background-image: url('../images/orange-bug.png') !important;
}
